# Supabase Credentials (Opsional, jika belum diisi website akan menggunakan Fallback Local Storage & Data Standar)
NEXT_PUBLIC_SUPABASE_URL=https://your-supabase-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here
